@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

footer{

    background-color: #aba1a4;
    font-family: 'Sixtyfour', sans-serif;
    color: #4a3d41;
    padding: 0; 
    margin-top: 10%;
    text-align: center; 
    max-height: 15vh;
    z-index: 1000; 
}

 p{
    padding-top: 5px;
}