.LobbyBox{
    margin: 5%;
    padding-bottom: 1%;
    border-radius: .5em;
    background: #8dbfb3;
    box-shadow:  5px 5px 10px #7ba69c,
                 -5px -5px 10px #9fd8ca;
    font-size: xx-large;
    justify-content: left;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.inLobbyHeading, .shareText {
    border-bottom: 1px solid #79a49a;
    margin-bottom: 0%;
    color: #5b7b73;
    margin-top: 1%;
    padding-bottom: 1%;
    padding-top: 0%;
}


.topRow, .bottomRow{
    display: flex;
    justify-content: center;
    /* margin-top: 1%; */
    border-bottom: 1px solid #79a49a;
    width: 100%;
}

.topRow>div:first-child, .bottomRow>div:first-child{
    border-right: 1px solid #79a49a;
}

.PlayerBox{
    background: #8DBFB3;
    /* border-radius: .5em; */
    width: 40%;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: x-large;
    justify-content: left;
    display: flex;
    position: relative;
    
}

.codeBox{
    background: #ffffff;
    box-shadow: inset 5px 5px 36px #c9c9c9,
                inset -5px -5px 36px #ffffff;
}